rules_version = '2';
service cloud.firestore {

  match /databases/{database}/documents {
    match /rooms/{roomId} {
      allow read: if true; // Anyone can read rooms

      match /messages/{messageId} {
        allow read: if true; // Anyone can read messages
      }

      function canWriteMessage() {
        return request.auth != null; // Only authenticated users can write messages
      }

      match /messages {
        allow create: if canWriteMessage(); // Anyone authenticated can create messages
      }
    }
  }

}
