rules_version = '2';
service cloud.firestore {

  match /databases/{database}/documents {
    match /rooms/{roomId} {
      allow create: if true; // Anyone can create rooms
      allow read: if true; // Anyone can read rooms
      allow update: if request.writeFields.size() == 1 && 'name' in request.writeFields;

      match /messages/{messageId} {
        allow read: if true; // Anyone can read messages
      }
      
      match /messages/{document=**} {
         allow create: if request.resource.data.text != null && request.resource.data.imageUrl != null;
      }
    }
  }

}