:root {
	--black: black;
	--white: white;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--white);
	background: var(--black);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: 'EB Garamond', sans-serif;
	font-size: 22px;
	line-height: 150%;
}

a {
	color: var(--white);
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--white);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 5px 10px;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
}

input:disabled,
textarea:disabled {
	background-color: var(--black);
	background-image: linear-gradient(90deg, var(--white) 80%, transparent 20%),
	linear-gradient(var(--white) 80%, transparent 20%);
	background-size: 5px 5px;
}

input[type="range"] {
	height: 0;
}

input, textarea {
	background: var(--white);
	color: var(--black);
}

input::placeholder,
textarea::placeholder {
	color: var(--black);
	opacity: 0.5;
}

button {
	border: var(--white) 1px solid;
	color: var(--black);
	background-color: var(--white);
	outline: none;
	cursor: pointer;
	transition: background-color 500ms, border-color 150ms;
}

button:hover {
	border-color: var(--black);
}

button:hover:active {
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
	transition: background-color 0ms;
}

button:focus {
	border-color: #666;
}


@media (max-width: 480px) {
	body {
		font-size: 18px;
	}
}