/* CRT Effects */
/* Originally from Alex Clownes */
/* It's honestly so good I haven't changed much */

:root {
	--scaling-factor: 1;
}

/* Target higher DPI screens with increasing scaling factors */
@media (min-resolution: 100dpi) {
	:root {
		--scaling-factor: 1;
	}
}
@media (min-resolution: 120dpi) {
	:root {
		--scaling-factor: 1.2;
	}
}
@media (min-resolution: 144dpi) {
	:root {
		--scaling-factor: 1.4;
	}
}
@media (min-resolution: 160dpi) {
	:root {
		--scaling-factor: 1.6;
	}
}
@media (min-resolution: 192dpi) {
	:root {
		--scaling-factor: 1.9;
	}
}
@media (min-resolution: 240dpi) {
	:root {
		--scaling-factor: 2.4;
	}
}
@media (min-resolution: 300dpi) {
	:root {
		--scaling-factor: 3;
	}
}
@media (min-resolution: 320dpi) {
	:root {
		--scaling-factor: 3.2;
	}
}
@media (min-resolution: 360dpi) {
	:root {
		--scaling-factor: 3.6;
	}
}
@media (min-resolution: 400dpi) {
	:root {
		--scaling-factor: 4;
	}
}
@media (min-resolution: 480dpi) {
	:root {
		--scaling-factor: 4.8;
	}
}
@media (min-resolution: 500dpi) {
	:root {
		--scaling-factor: 5;
	}
}

.crt::before {
	--vertical-line-height: round(calc(2px * var(--scaling-factor)), 1px);
	--horizontal-line-width: round(calc(3px * var(--scaling-factor)), 1px);
	content: ' ';
	display: block;
	position: fixed;
	inset: 0;
	background: linear-gradient(rgba(8, 7, 7, 0.225) 50%, rgba(255, 255, 255, 0.025) 50%),
		linear-gradient(90deg, rgba(255, 0, 0, 0.05), rgba(0, 255, 0, 0.03), rgba(0, 0, 255, 0.06));
	z-index: calc(var(--z-screen-effects) + 1);
	background-size:
		100% var(--vertical-line-height),
		var(--horizontal-line-width) 100%;
	pointer-events: none;
}

.crt > * {
	filter: blur(0.5px);
}
