:root {
	--black: black;
	--white: white;

	--z-screen-effects: 90000;

	--mm-in-px: 100px;
}

::selection {
	background-color: var(--white);
	color: var(--black);
}

* {
	box-sizing: border-box;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--white);
	background: var(--black);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'IM Fell English', 'Noto Emoji', serif;
	font-size: 22px;
	line-height: 1.5;
}

a {
	display: inline-block;
	color: var(--white);
	text-decoration: underline;
	text-underline-offset: 0.25em;
	border-radius: 0.25em;
	transition:
		transform 250ms,
		text-underline-offset 250ms;
}

a:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
	transform: translateY(-0.125em);
	text-underline-offset: calc(0.125em + 0.25em);
}

a:visited {
	color: var(--white);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 5px 10px;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
}

input:disabled,
textarea:disabled {
	background-color: var(--black);
	background-image: linear-gradient(90deg, var(--white) 0% 75%, transparent 76% 100%),
		linear-gradient(var(--white) 0% 75%, transparent 76% 100%);
	background-size: 4px 4px;
}

input[type='range'] {
	height: 0;
}

input,
textarea {
	background: var(--white);
	color: var(--black);
}

input::placeholder,
textarea::placeholder {
	color: var(--black);
	opacity: 0.5;
}

button:focus-visible,
input:focus-visible,
textarea:focus-visible,
a:focus-visible {
	outline: var(--white) 2px dotted;
	outline-offset: 3px;
}

button {
	all: unset;
	cursor: pointer;
	padding: 0.25em 0.75em;
	background: var(--white);
	color: var(--black);
	border-radius: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	line-height: 125%;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.3em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
	text-transform: uppercase;
}

hr {
	border: none;
	border-top: var(--white) 1px dotted;
	margin: 1em 0;
}

ul {
	padding-left: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
ul {
	margin: 0;
}

canvas {
	display: block;
}

@media (max-width: 480px) {
	body {
		font-size: 18px;
	}
}

.icon {
	width: 1.5em;
	height: 1.5em;
	display: inline-block;
	vertical-align: middle;
	fill: currentColor;
}
