:root {
	--black: black;
	--white: white;
}

* {
	box-sizing: border-box;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--white);
	background: var(--black);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'IM Fell English', serif;
	font-size: 22px;
	line-height: 150%;
}

a {
	color: var(--white);
	text-decoration: underline;
	text-underline-offset: 0.25em;
}

a:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

a:visited {
	color: var(--white);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 5px 10px;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
}

input:disabled,
textarea:disabled {
	background-color: var(--black);
	background-image: linear-gradient(90deg, var(--white) 0% 75%, transparent 76% 100%),
		linear-gradient(var(--white) 0% 75%, transparent 76% 100%);
	background-size: 4px 4px;
}

input[type='range'] {
	height: 0;
}

input,
textarea {
	background: var(--white);
	color: var(--black);
}

input::placeholder,
textarea::placeholder {
	color: var(--black);
	opacity: 0.5;
}

button {
	color: var(--black);
	background: var(--white);
	border: var(--black) 1px solid;
	box-shadow: var(--white) 0 0 0 3px;
	outline: none;
	cursor: pointer;
	border-radius: 0.5em;
	padding: 7px 14px;
	font-size: inherit;
	text-align: center;
	transition:
		box-shadow 275ms,
		transform 200ms;
}

button:hover,
button:focus {
	transform: translateY(-3px);
}

button:disabled {
	color: #999;
}

button:active {
	border-width: 3px;
	box-shadow: var(--white) 0 0 0 2px;
	padding: 5px 12px;
}

button:not(:disabled):active {
	transform: translateY(0);
	transition: transform 10ms;
}

button.dark {
	background: var(--black);
	color: var(--white);
	border: var(--white) 1px solid;
	box-shadow: var(--black) 0 0 0 3px;
}

button.blend {
	background: transparent;
	color: var(--black);
	border: none;
	box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	line-height: 125%;
}

hr {
	border: none;
	border-top: var(--white) 1px solid;
	margin: 2em 0;
}

ul {
	padding-left: 1em;
}

@media (max-width: 480px) {
	body {
		font-size: 18px;
	}
}
